INSTALL
*.in
*.o
*.lo
*.la
Makefile
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache/
configure
config.h
config.log
config.status
dcm2mnc
ecattominc
epm-header
invert_raw_image
libtool
minc_modify_header
mincaverage
minccalc
minccmp
mincconcat
mincconvert
minccopy
mincdump
mincexample1
mincexample2
mincexpand
mincextract
mincgen
mincinfo
minclookup
mincmakescalar
mincmakevector
mincmath
mincresample
mincreshape
mincstats
minctoecat
minctoraw
mincwindow
mnc2nii
nii2mnc
progs/minccomplete/minccomplete
progs/minccomplete/minccomplete.man1
progs/mincgen/ncgentab.c
progs/mincgen/ncgentab.h
progs/mincgen/ncgenyy.c
progs/minchistory/minchistory
progs/minchistory/minchistory.man1
progs/xfm/xfmflip
rawtominc
stamp-h1
transformtags
upet2mnc
vff2mnc
volume_io/Testing/example_modify
volume_io/Testing/example_tags
volume_io/Testing/example_volume_io
voxeltoworld
worldtovoxel
xfm2def
xfmconcat
xfminvert
