*~
INSTALL
*.in
*.o
*.lo
*.la
Makefile
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache/
configure
config.h
config.log
config.status
libtool
progs/minccomplete/minccomplete
progs/minccomplete/minccomplete.man1
progs/mincgen/ncgentab.c
progs/mincgen/ncgentab.h
progs/mincgen/ncgenyy.c
progs/minchistory/minchistory
progs/minchistory/minchistory.man1
progs/xfm/xfmflip
stamp-h1
volume_io/Testing/example_modify
volume_io/Testing/example_tags
volume_io/Testing/example_volume_io
